<!DOCTYPE html>
<html>
<head>
    <title>Formulario de Solicitud</title>
</head>
<body>
    <h1>Formulario de Solicitud</h1>
    <form action="/" method="post">
        ID de Solicitud: <input type="text" name="id_solicitud" required><br>
        Fecha Actual: <input type="text" name="fecha_actual" required><br>
        Reclutador: <input type="text" name="reclutador" required><br>
        Generador: <input type="text" name="generador" required><br>
        Lider de GH: <input type="text" name="lider_gh" required><br>
        Lider de la Vacante: <input type="text" name="lider_vacante" required><br>
        Empresa: <input type="text" name="empresa" required><br>
        Zona: <input type="text" name="zona" required><br>
        Planta: <input type="text" name="planta" required><br>
        Numero de Vacantes: <input type="number" name="num_vacantes" required><br>
        <input type="submit" value="Guardar">
    </form>
</body>
</html>
