<!DOCTYPE html>
<html>
<head>
    <title>Mostrar Solicitud</title>
</head>
<body>
    <h1>Datos de la Solicitud</h1>
    <p>ID de Solicitud: {{ solicitud['id_solicitud'] }}</p>
    <p>Fecha Actual: {{ solicitud['fecha_actual'] }}</p>
    <p>Reclutador: {{ solicitud['reclutador'] }}</p>
    <p>Generador: {{ solicitud['generador'] }}</p>
    <p>Lider de GH: {{ solicitud['lider_gh'] }}</p>
    <p>Lider de la Vacante: {{ solicitud['lider_vacante'] }}</p>
    <p>Empresa: {{ solicitud['empresa'] }}</p>
    <p>Zona: {{ solicitud['zona'] }}</p>
    <p>Planta: {{ solicitud['planta'] }}</p>
    <p>Numero de Vacantes: {{ solicitud['num_vacantes'] }}</p>
</body>
</html>
